@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Valley+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
}

.raleway-bold {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
}

body {
  background: linear-gradient(180deg, #ac2b37,#ac2b37);
  color:#ac2b37;
  min-height: 100vh;
  margin: 0;
  font-family: "Raleway", sans-serif;
}


.box {
  background: white;
  border: 1px solid #ac2b37;
  border-radius: 1em;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.box2 {
  background: white;
  border: 1px solid #ac2b37;
  border-radius: 1em;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


#age_table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
}

p + p {
  margin-top: 1em;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, text areas have a monospace font */
  font: 1em sans-serif;
  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;
  /* Match form field borders */
  border: 1px solid #ac2b37;
}

input:focus,
textarea:focus {
  /* Set the outline width and style */
  outline-style: solid;
  /* To give a little highlight on active elements */
  outline-color: #ac2b37;
}

.btn-purple {
  background-color: #ac2b37;
  border-color: #ac2b37;
  color: white;
}

#editFormDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 90%;
    max-width: 500px;
}
